.d-blk        { display: block; }
.d-inblk      { display: inline-block; }
.d-in         { display: inline; }
.d-none       { display: none; }
.d-flex       { display: flex; }
.d-iflex      { display: inline-flex; }
.d-grid       { display: grid; }
.d-igrid      { display: inline-grid; }
