.fs-xs      { font-size: 0.75rem; }
.fs-md      { font-size: 1rem; }
.fs-lg      { font-size: 1.25rem; }

.fw-thin    { font-weight: 100; }
.fw-norm    { font-weight: 400; }
.fw-bold    { font-weight: 700; }

.txt-l      { text-align: left; }
.txt-c      { text-align: center; }
.txt-r      { text-align: right; }

.txt-u      { text-transform: uppercase; }
.txt-cap    { text-transform: capitalize; }
.txt-line   { text-decoration: underline; }
.txt-strike { text-decoration: line-through; }
