.fx-row {
	flex-direction: row;
}
.fx-row-r {
	flex-direction: row-reverse;
}
.fx-col {
	flex-direction: column;
}
.fx-col-r {
	flex-direction: column-reverse;
}

.fx-wrap {
	flex-wrap: wrap;
}
.fx-nowrap {
	flex-wrap: nowrap;
}

.v-top {
	align-items: flex-start;
}
.v-mid {
	align-items: center;
}
.v-bot {
	align-items: flex-end;
}
.v-str {
	align-items: stretch;
}

.h-left {
	justify-content: flex-start;
}
.h-center {
	justify-content: center;
}
.h-right {
	justify-content: flex-end;
}
.h-btw {
	justify-content: space-between;
}
.h-ard {
	justify-content: space-around;
}
.h-evn {
	justify-content: space-evenly;
}

.center-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
