.pos-rel     { position: relative; }
.pos-abs     { position: absolute; }
.pos-fix     { position: fixed; }
.pos-stk     { position: sticky; }

.t-0         { top: 0; }
.l-0         { left: 0; }
.r-0         { right: 0; }
.b-0         { bottom: 0; }
