.w-100p     { width: 100%; }
.w-50p      { width: 50%; }
.w-scr      { width: 100vw; }

.h-100p     { height: 100%; }
.h-50p      { height: 50%; }
.h-scr      { height: 100vh; }

.minw-full  { min-width: 100%; }
.maxh-scr   { max-height: 100vh; }
