@font-face {
    font-family: 'Aktua-Regular';
    src: url('/stardock/core/public/fonts/aktura/Aktura-Regular.woff')
    format('woff');
}
@font-face {
    font-family: 'Alpino-Bold.woff';
    src: url('/stardock/core/public/fonts/alpino/Alpino-Bold.woff');
}
@font-face {
    font-family: 'Alpino-Light.woff';
    src: url('/stardock/core/public/fonts/alpino/Alpino-Light.woff');
}
@font-face {
    font-family: 'Alpino-Medium.woff';
    src: url('/stardock/core/public/fonts/alpino/Alpino-Medium.woff');
}
@font-face {
    font-family: 'Alpino-Regular.woff';
    src: url('/stardock/core/public/fonts/alpino/Alpino-Regular.woff');
}

@font-face {
    font-family: 'Array-Bold.woff';
    src: url('stardock/core/public/fonts/array/Array-Bold.woff');
}
@font-face {
    font-family: 'Array-Regular.woff';
    src: url('stardock/core/public/fonts/array/Array-Regular.woff');
}
@font-face {
    font-family: 'Array-Semibold.woff';
    src: url('stardock/core/public/fonts/array/Array-Semibold.woff');
}
@font-face {
    font-family: 'Array-Wide.woff';
    src: url('stardock/core/public/fonts/array/Array-Wide.woff');
}
@font-face {
    font-family: 'Bonny-Bold.woff';
    src: url('stardock/core/public/fonts/array/Bonny-Bold.woff');
}
@font-face {
    font-family: 'Bonny-Light.woff';
    src: url('stardock/core/public/fonts/array/Bonny-Light.woff');
}
@font-face {
    font-family: 'Bonny-Medium.woff';
    src: url('stardock/core/public/fonts/array/Bonny-Medium.woff');
}
@font-face {
    font-family: 'Bonny-Regular.woff';
    src: url('stardock/core/public/fonts/array/Bonny-Regular.woff');
}
@font-face {
    font-family: 'Britney-Bold.woff';
    src: url('stardock/core/public/fonts/britney/Britney-Bold.woff');
}
@font-face {
    font-family: 'Britney-Light.woff';
    src: url('stardock/core/public/fonts/britney/Britney-Light.woff');
}
@font-face {
    font-family: 'Britney-Regular.woff';
    src: url('stardock/core/public/fonts/britney/Britney-Regular.woff');
}
@font-face {
    font-family: 'Comico-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Comico-Regular.woff');
}
@font-face {
    font-family: 'Kihim-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Kihim-Regular.woff');
}
@font-face {
    font-family: 'Kola-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Kola-Regular.woff');
}
@font-face {
    font-family: 'Outfit-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Outfit-Bold.woff');
}
@font-face {
    font-family: 'Outfit-Light.woff';
    src: url('stardock/core/public/fonts/comico/Outfit-Light.woff');
}
@font-face {
    font-family: 'Outfit-Medium.woff';
    src: url('stardock/core/public/fonts/comico/Outfit-Medium.woff');
}

@font-face {
    font-family: 'Outfit-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Outfit-Regular.woff');
}

@font-face {
    font-family: 'Panchang-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Panchang-Regular.woff');
}
@font-face {
    font-family: 'Panchang-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Panchang-Bold.woff');
}
@font-face {
    font-family: 'Panchang-Light.woff';
    src: url('stardock/core/public/fonts/comico/Panchang-Light.woff');
}
@font-face {
    font-family: 'Panchang-Medium.woff';
    src: url('stardock/core/public/fonts/comico/Panchang-Medium.woff');
}
@font-face {
    font-family: 'Pencerio-Hairline.woff';
    src: url('stardock/core/public/fonts/comico/Pencerio-Hairline.woff');
}
@font-face {
    font-family: 'Rosaline-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Rosaline-Regular.woff');
}
@font-face {
    font-family: 'Satoshi-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Satoshi-Regular.woff');
}
@font-face {
    font-family: 'Satoshi-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Satoshi-Bold.woff');
}
@font-face {
    font-family: 'Satoshi-Italic.woff';
    src: url('stardock/core/public/fonts/comico/Satoshi-Italic.woff');
}
@font-face {
    font-family: 'Satoshi-Medium.woff';
    src: url('stardock/core/public/fonts/comico/Satoshi-Medium.woff');
}
@font-face {
    font-family: 'Segment-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Segment-Regular.woff');
}
@font-face {
    font-family: 'Sentient-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Sentient-Bold.woff');
}
@font-face {
    font-family: 'Sentient-Italic.woff';
    src: url('stardock/core/public/fonts/comico/Sentient-Italic.woff');
}
@font-face {
    font-family: 'Sentient-Light.woff';
    src: url('stardock/core/public/fonts/comico/Sentient-Light.woff');
}
@font-face {
    font-family: 'Sentient-Medium.woff';
    src: url('stardock/core/public/fonts/comico/Sentient-Medium.woff');
}


@font-face {
    font-family: 'Sentient-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Sentient-Regular.woff');
}
@font-face {
    font-family: 'Sharpie-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Sharpie-Regular.woff');
}
@font-face {
    font-family: 'Sharpie-Light.woff';
    src: url('stardock/core/public/fonts/comico/Sharpie-Light.woff');
}
@font-face {
    font-family: 'Sharpie-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Sharpie-Bold.woff');
}
@font-face {
    font-family: 'Striper-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Striper-Regular.woff');
}
@font-face {
    font-family: 'Tanker-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Tanker-Regular.woff');
}
@font-face {
    font-family: 'Telma-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Telma-Regular.woff');
}
@font-face {
    font-family: 'Telma-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Telma-Bold.woff');
}
@font-face {
    font-family: 'Telma-Light.woff';
    src: url('stardock/core/public/fonts/comico/Telma-Light.woff');
}
@font-face {
    font-family: 'Telma-Medium.woff';
    src: url('stardock/core/public/fonts/comico/Telma-Medium.woff');
}
@font-face {
    font-family: 'Zodiak-Regular.woff';
    src: url('stardock/core/public/fonts/comico/Zodiak-Regular.woff');
}
@font-face {
    font-family: 'Zodiak-Bold.woff';
    src: url('stardock/core/public/fonts/comico/Zodiak-Bold.woff');
}
@font-face {
    font-family: 'Zodiak-Italic.woff';
    src: url('stardock/core/public/fonts/comico/Zodiak-Italic.woff');
}
@font-face {
    font-family: 'Zodiak-Light.woff';
    src: url('stardock/core/public/fonts/comico/Zodiak-Light.woff');
}