.features-section {
	padding: 100px;
	text-align: center;
}

.features-title {
	font-size: 2.2rem;
	margin-bottom: 80px;
}

.features-grid-row {
	display: grid;
	gap: 30px;
	max-width: 1200px;
	margin: 0 auto 40px;
	padding: 0 10px;
}

.large-row {
	grid-template-columns: repeat(2, 1fr);
}

.small-row {
	grid-template-columns: repeat(3, 1fr);
}

.feature-card {
	background: #1b1b1b;
	border-radius: 16px;
	padding: 24px;
	border: 2px solid transparent;
	transition: all 0.3s ease;
	text-align: left;
	height: 20rem;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.feature-card:hover {
	border: 2px solid #7f52c7;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
	transform: translateY(-3px);
}

.image-placeholder {
	width: 100%;
	height: 150px;
	border-radius: 12px;
	margin-bottom: 20px;
}

.feature-card h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 10px;
	color: #7f52c7;
}

.feature-card p {
	font-size: 1rem;
	line-height: 1.5;
}

@media (max-width: 900px) {
	.large-row {
		grid-template-columns: 1fr;
	}

	.small-row {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.small-row {
		grid-template-columns: 1fr;
	}
}
