.sidebar {
	background-color: #00000099;
	backdrop-filter: blur(12px);
	width: 300px;
    padding-top: 20px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.sidebar-item h1 {
	margin-left: 10px;
	font-size: 1.2rem;
	font-weight: 400;
}

.sidebar-header {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.sidebar-logo {
	display: flex;
	align-items: center;
	color: #7f52c7;
	scale: 0.8;
}

.sidebar-item {
	display: flex;
	align-items: center;
	scale: 0.8;
	padding: 10px 15px;
	transition: all 0.3s ease;
	border-left: 4px solid transparent;
}

.sidebar-item.active {
	border-left: 4px solid #a678e2;
	background-color: transparent;
	color: #a678e2;
	font-weight: 600;
	transform: translateX(5px);
}

.sidebar-item svg,
.sidebar-item h1 {
	transition: color 0.3s ease;
}

.sidebar-item.active svg,
.sidebar-item.active h1 {
	color: #a678e2;
}

.sidebar-item:hover {
	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 8px;
	cursor: pointer;
	transform: translateX(3px);
}
