:root {
	--background: #ffffff;
	--foreground: #171717;
}

@font-face {
	font-family: 'CabinetGrotesk-Bold';
	src: url('/fonts/CabinetGrotesk-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'CabinetGrotesk';
	src: url('/fonts/CabinetGrotesk-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Pencerio-Hairline';
	src: url('/fonts/Pencerio-Hairline.woff2') format('woff2');
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'CabinetGrotesk', sans-serif;
	min-height: 100vh;
}

* {
	padding: 0;
	margin: 0;
}

.page {
	position: relative;
}

/* @media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
} */

.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-row-start: 2;
}

.main ol {
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
	list-style-position: inside;
}

.main li:not(:last-of-type) {
	margin-bottom: 8px;
}

.main code {
	background: var(--gray-alpha-100);
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 600;
}

a.primary {
	background: var(--foreground);
	color: var(--background);
	gap: 8px;
}

a.secondary {
	border-color: var(--gray-alpha-200);
	min-width: 158px;
}

@media (max-width: 600px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}

	.main {
		align-items: center;
	}

	.main ol {
		text-align: center;
	}

	.ctas {
		flex-direction: column;
	}

	.ctas a {
		font-size: 14px;
		height: 40px;
		padding: 0 16px;
	}

	a.secondary {
		min-width: auto;
	}

	/* .footer {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	} */
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
